div#buttonContainer {
	width: 200px;
	margin: 10px auto;
	text-align: center;
}

div#buttonContainer > button{
	background-color: black;
	border-radius: 5px;
	border: 1px dotted #1AE000;
	font-family: 'Chewy', cursive;
	font-size: 24px;
	color: white;
}

div#buttonContainer > button:hover {
	color: #1AE000;
}
