input#settings-btn {
    display: block;
    color: #FFFFFF;
    background-color: #000;
    border: 1px dotted #1AE000;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    outline: none;
    font-family: 'Chewy', cursive;
    font-size: 18px;
}

input#settings-btn:hover {
    color: #1AE000;
}

div#settings {
    display: none;
    height: 200px;
    margin: 10px;
    font-family: 'Chewy', cursive;
    font-size: 15px;
    text-align: center;
}

div#settings > ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: white;
}

div#settings > ul li {
    display: inline-block;
    float: left;
    background-color: #000;
    border: 1px dotted #1AE000;
    border-radius: 5px;
    padding-top: 10px;
    text-align: left;
}

div#settings > ul li label {
    display: block;
    margin-bottom: 15px;
    margin-left: 10px;
}

div#settings > ul li fieldset {
    height: 180px;
    border: none;
}

div#settings input[type = color] {
    border: 1px solid #1AE000;
    border-radius: 5px;
    outline: none;
}

div#settings input[type = text] {
    border-radius: 5px;
    background-color: white;
    border: 1px solid #1AE000;
    color: #1AE000;
    padding-left: 5px;
    width: 120px;
    outline: none;
}

div#settings select {
    color: #white;
    background-color: white;
    border: 1px solid #1AE000;
    border-radius: 5px;
    outline: none;
}

div#settings legend {
    font-size: 1.2em;
}
