#scoreBoardContainer {
    display: table;
    margin: 0 auto;
}

svg.playersAvatar {
	width: 50px;
    height: 50px;
}

span.playersName {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    font-family: 'Chewy', cursive;
    font-size: 20px;
    color: white;
}

